menu "Application Configuration"

    config SPIDER_LAUNCHER_DEBUG_LED_PIN
        int "Debug LED pin"
        default 9
        help
            The pin where a debug LED is connected

    config SPIDER_LAUNCHER_MOTOR_DIRECTION_PIN
        int "Motor direction pin"
        default 8
        help
            Pin wired to the DIR1 pin of the MDD10A motor driver board

    config SPIDER_LAUNCHER_MOTOR_PWM_PIN
        int "Motor PWM pin"
        default 7
        help
            Pin wired to the PWM1 pin of the MDD10A motor driver board

    config SPIDER_LAUNCHER_QRD1114_PIN
        int "QRD1114 pin"
        default 6
        help
            Pin wired to the output of the QRD1114 sensor

    config SPIDER_LAUNCHER_AUDIO_USE_GPIO
        bool
        default y if SPIDER_LAUNCHER_UART_NUM < 0
        default n

    config SPIDER_LAUNCHER_AUDIO_PIN_0
        int "Audio pin 0"
        default 43
        depends on SPIDER_LAUNCHER_AUDIO_USE_GPIO
        help
            GPIO pin wired to pin IO0 of the DY-HV8F audio board,
            if all SPIDER_LAUNCHER_UART_BAUD_RATE is set.

    config SPIDER_LAUNCHER_AUDIO_PIN_1
        int "Audio pin 1"
        default 44
        depends on SPIDER_LAUNCHER_AUDIO_USE_GPIO
        help
            GPIO pin wired to pin IO1 of the DY-HV8F audio board,
            if all SPIDER_LAUNCHER_UART_BAUD_RATE is set.

    config SPIDER_LAUNCHER_AUDIO_PIN_2
        int "Audio pin 2"
        default 5
        depends on SPIDER_LAUNCHER_AUDIO_USE_GPIO
        help
            GPIO pin wired to pin IO2 of the DY-HV8F audio board,
            if all SPIDER_LAUNCHER_UART_BAUD_RATE is set.

    config SPIDER_LAUNCHER_AUDIO_PIN_3
        int "Audio pin 3"
        default 4
        depends on SPIDER_LAUNCHER_AUDIO_USE_GPIO
        help
            GPIO pin wired to pin IO3 of the DY-HV8F audio board,
            if all SPIDER_LAUNCHER_UART_BAUD_RATE is set.

    config SPIDER_LAUNCHER_AUDIO_UART_TXD_PIN
        int "Audio TXD pin"
        default 43
        depends on !SPIDER_LAUNCHER_AUDIO_USE_GPIO
        help
            UART TX pin wired to the UART Rx pin of the DY-HV8F audio board,
            ignored if SPIDER_LAUNCHER_UART_NUM is -1.

    config SPIDER_LAUNCHER_AUDIO_UART_RXD_PIN
        int "Audio RXD pin"
        default 44
        depends on !SPIDER_LAUNCHER_AUDIO_USE_GPIO
        help
            UART RX pin wired to the UART Tx pin of the DY-HV8F audio board,
            ignored if SPIDER_LAUNCHER_UART_NUM is -1.

    config SPIDER_LAUNCHER_UART_NUM
        int "Audio UART number"
        default -1
        help
            UART number to use for communications with the DY-HV8F audio board,
            if -1 then the SPIDER_LAUNCHER_AUDIO_PIN_x will be used to
            address the audio board with individual IOs instead.

    config SPIDER_LAUNCHER_UART_BAUD_RATE
        int "UART baud rate"
        default 9600
        depends on !SPIDER_LAUNCHER_AUDIO_USE_GPIO
        help
            Baud rate on the UART talking to the DY-HV8F audio board

endmenu
